@use "./../utils/unit" as *;

// 포지션 관련 믹스인
@mixin pos {
  position: absolute;
}

@mixin posLeftTop($l: 0, $t: 0) {
  @include pos;
  left: $l;
  top: $t;
}

@mixin posRightTop($r: 0, $t: 0) {
  @include pos;
  right: $r;
  top: $t;
}

@mixin posCenterX {
  @include pos;
  left: 50%;
  transform: translateX(-50%);
}

@mixin posCenterY {
  @include pos;
  top: 50%;
  transform: translateY(-50%);
}

@mixin posCenter {
  @include pos;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin posBottomY {
  @include pos;
  top: 100%;
  transform: translateY(-100%);
}

@mixin containerMax($max-width: 1024px) {
  max-width: rem($max-width);
  @include autoMargin;
}


// padding, margin 관련 믹스인
@mixin padding($spacing) {
  @include paddingX($spacing);
  @include paddingY($spacing);
}

@mixin paddingX($spacing) {
  padding-left: rem($spacing);
  padding-right: rem($spacing);
}

@mixin paddingY($spacing) {
  padding-top: rem($spacing);
  padding-bottom: rem($spacing);
}

@mixin padding($spacing) {
  padding: rem($spacing);
}

@mixin marginX($spacing) {
  margin-left: rem($spacing);
  margin-right: rem($spacing);
}

@mixin marginY($spacing) {
  margin-top: rem($spacing);
  margin-bottom: rem($spacing);
}

@mixin margin($spacing) {
  @include marginX($spacing);
  @include marginY($spacing);
}

@mixin autoMargin {
  margin-left: auto;
  margin-right: auto;
}

// 그리드 믹스인
@mixin gridbox ($column-count: 12,
  $column-width: 1fr,
  $row-gap: 0,
  $column-gap: 16px) {
  display: grid;
  grid-template-columns: repeat($column-count, $column-width);
  grid-template-rows: auto;
  grid-column-gap: rem($column-gap);
  grid-row-gap: rem($row-gap);
}

// ratio 믹스인
// 작동은 가능. 문법오류 아닌 /를 나눗셈으로 간주하여 나눗셈할 때 /만 쓰는 것은 deprecation 될테니 / 를 저렇게 단독으로 사용하지 말라고 알려주는 것
@mixin ratio($w: 16, $h: 9) {
  aspect-ratio: $w / $h;
}

// 반응형 콘텐츠
// 비트맵 width: 100%. 벡터 max-width
@mixin respons($width: max-width, $height: auto) {
  #{$width}: 100%;
  height: $height;
}

// 말줄임표
@mixin textOver {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// 이미지 맞추기
@mixin fit($posX: 50%, $posY: 50%, $fit: cover) {
  object-fit: $fit;
  object-position: $posX $posY;
}