@use "./../utils" as *;

.appMain {
  @include paddingX(20px);
  @include paddingY(16px);

  @include mobile {
    @include gridbox(1, 100%, 16px, 0);
  }

  @include desktop {
    @include containerMax;
    @include gridbox($row-gap: 16px, $column-gap: 20px);
    grid-template-areas:
      "news news news news news news news news news news news news"
      "book book book book twitter twitter twitter twitter twitter favorite favorite favorite"
      "book book book book . board board board board board board board";
  }
}

// 메인 콘텐츠 (데스크탑에만 적용)
@include desktop {

  // 추천 서적
  .book {
    grid-area: book;
  }

  // 새소식
  .news {
    grid-area: news;
  }

  // 게시판
  .board {
    grid-area: board;
  }

  // 인기 사이트
  .favorite {
    grid-area: favorite;
  }

  // 트위터
  .twitter {
    grid-area: twitter;
  }
}

//추천 서적
.book {
  &__cover {
    width: 70%;
    @include autoMargin;
    text-align: center;
  }

  &__info {
    @include flexbox($wrap: wrap, $justify: center);
    column-gap: rem(8px);
  }

  @at-root .ratingStar {
    width: 100%;
    text-align: center;
    font-size: rem(36px);
  }
}

// 새소식
.news {
  @at-root .iframeWrapper {
    @include ratio(16, 9);
  }
}

// 게시판
.board {
  position: relative;

  &__item {
    margin: 8px 0;
    @include flexbox;
    column-gap: rem(8px);
  }

  &__link {
    flex-grow: 1;
    @include textOver;
  }

  &__date {
    /* flex-basis: fill; */
    white-space: nowrap;
  }

  &__more {
    @include posRightTop;
  }
}

// 인기 사이트
.favorite {}

// 트위터
.twitter {
  &__userProfile {
    @include ratio(1, 1);
  }

  &__userProfileImage {
    @include respons(width, 100%);
    border-radius: 50%;
    @include fit(30%, 40%);
  }
}

/*
        <figure class="twitter__userProfile">
          <img src="./images/hero.jpg" alt="" class="twitter__userProfileImage" />
        </figure>
*/