@use "./../utils" as *;

.appHeader {
  background: yellow;
  padding: rem(16px) rem(24px);

  @include mobile {
    background: $dark-brown;
    color: $white;
  }
}

//로고
// src = 루트 경로 /
.logo {
  width: rem(204px);
  height: rem(60px);
  &__link {
    display: block;
    height: 100%;
    background: url(/assets/images/webcafe-logo.png) no-repeat;
  }
}